# libraries
node_modules

# all build files
src/**/*.js
public/**/*.js
public/style/*/*
analysis/*.js
*.css
*.map

# config file
src/config.json

# data files
*.csv
analysis/*.in
analysis/*.out
analysis/*.log