# libraries
node_modules
typings

# all build files
src/**/*.js
src/public/style/*/*
analysis/*.js
*.css
*.map

# config file
src/config.json

# data files
*.csv
analysis/*.in
analysis/*.out
analysis/*.log