/* SETTINGS BAR ------------------------------------------------------------- */
.settings-bar {
	height: 60px;
	padding: 10px;
	margin-bottom: 20px;
}

.horizontal-list {
	list-style-type: none;
}

.horizontal-list li {
	float: left;
	padding-right: 20px;
}

.horizontal-list li:last-child {
	float: right;
}

.download-btn {
	margin-top: 5px;
}

.expanded-settings-bar {
	display: none;
	padding: 10px;
}

.disease-gene-filter-list {
	/*width: 200px;*/
	font-size: 12px;
	margin-bottom: 5px;
}

#active-filters {
	width: 200px;
	height: 100px;
	overflow: auto;
}

.semData-error {
	padding: 10px;
	margin-bottom: 20px;
}

.linkInfo {
	z-index: 9999;
	display: none;
	position: absolute;
	border: 1px solid #CCC;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	max-width:200px;
}

/* CHART -------------------------------------------------------------------- */
.chart {
	text-align: center;
}
