/* SETTINGS BAR ------------------------------------------------------------- */
.settings-bar {
	height: 60px;
	padding: 10px;
	margin-bottom: 20px;
}

.horizontal-list {
	list-style-type: none;
}

.horizontal-list li {
	float: left;
	padding-right: 20px;
}

.horizontal-list li:last-child {
	float: right;
}

.expanded-settings-bar {
	display: none;
	padding: 10px;
}

.disease-gene-filter-list {
	/*width: 200px;*/
	font-size: 12px;
	margin-bottom: 5px;
}

/* CHART -------------------------------------------------------------------- */
.chart {
	text-align: center;
}
