/* HEADER ------------------------------------------------------------- */
.header {
	margin-bottom: 20px;
	background-color: #d3d3d3;
}
.settings-bar {
	height: 60px;
	padding: 15px;
}

.horizontal-list {
	list-style-type: none;
}

.horizontal-list li {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

.horizontal-list li:last-child {
	float: right;
}

.download-btn {
	margin-top: 5px;
}

.expanded-settings-bar {
	display: none;
}

.disease-gene-filter-list {
	/*width: 200px;*/
	font-size: 12px;
	margin-bottom: 5px;
}

#active-filters {
	width: 200px;
	height: 100px;
	overflow: auto;
}

.semData {
	display: none;
}

.semData-error {
	padding: 10px;
	margin-bottom: 20px;
}

.geneInfo {
	z-index: 9999;
	display: none;
	position: absolute;
	border: 1px solid #CCC;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	max-width:200px;
}

.hr-list-item {
	padding-right: 5px;
}

/* CONTENT  ----------------------------------------------------------------- */
html, body {
	height: 100%;
}

.chart-status  {
	text-align: center;
	display: none;
	margin: auto;
	width: 600px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.welcome-message {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	width: 600px;
	height: 300px;
}

.totalDiseases {
	font-weight: bold;
}

.chart {
	text-align: center;
}

/* TYPEAHEAD ---------------------------------------------------------------- */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
